<nav class="navbar-dark navbar bg-dark">
  <a class="navbar-brand" style="margin-left: 20px" routerLink="/home">
    MyCrypto
  </a>

  <div>
    <button class="btn btn-outline-light" routerLink="/settings">
      Settings
    </button>
    &nbsp;
    <button routerLink="/new/transaction" class="btn btn-outline-light">
      Create transaction
    </button>
    &nbsp;
    <button
      routerLink="/new/transaction/pending"
      class="btn btn-outline-light"
      *ngIf="thereArePendingTransactions()"
    >
      Pending transactions
      <span class="badge badge-light">{{
        blockchain.pendingTransactions.length
      }}</span>
    </button>
    &nbsp;
  </div>
</nav>

<router-outlet></router-outlet>
